*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

src/layer/python/lib/python3.9/*
!src/layer/python/lib/python3.9/requirements.txt

src/**/serply_events.py

.env
.env.*
!.env.example

slack_manifest.*.yaml
!slack_manifest.template.yaml

notes
template.yaml





.DS_Store